.footer {
  padding: 2rem 6rem;
  display: flex;
  justify-content: space-between;

  &_copyright {
    color: #1d164d;
    font-weight: 500;
  }

  &_terms {
    color: #9a93a8;
    font-weight: 500;

    small {
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 869px) {
  .footer {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .footer {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
}
