@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.05em;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #badc58;
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #1d164d;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1d164d;
}

p {
  color: #9a93a8;
  font-size: 1rem;
}

input {
  border: 1px solid #1d164d;
  border-radius: 5px;
  padding: 1rem 3rem 1rem 1rem;
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 2rem;
  transition: all ease 0.2s;
  &:hover {
    filter: brightness(110%);
    opacity: 0.7;
  }
}

button {
  padding: 1rem;
  margin-left: 1rem;
  background-color: #badc58;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.2s;
  &:hover {
    filter: brightness(110%);
    opacity: 0.8;
  }
}

svg {
  color: #ffffff;
}

.error_message {
  display: none;
}

input:not(:focus):invalid {
  border: 2px solid #c9001b;
}

input:not(:focus):invalid ~ .error_message {
  display: block;
  color: #c9001b;
  font-weight: 700;
}
