.introduction { 
  background-image: url("/images/Illustration.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: scroll;
}

.introduction_header {
  padding: 2rem 8rem;
}

.introduction_search {
  margin: 20rem 8rem;
}

.recipes {
  background-color: #fafafc;
}

.services {
  background-image: url("/images/bloco_services.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: scroll;
}